{% load static %}
<!-- BEGIN #header -->
		<div id="header" class="header">
			<!-- BEGIN container -->
			<div class="container">
				<!-- BEGIN header-container -->
				<div class="header-container">
					<!-- BEGIN navbar-toggle -->
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- END navbar-toggle -->
					<!-- BEGIN header-logo -->
					<div class="header-logo">
						<a href="index.html">
							<span class="brand-logo"></span>
							<span class="brand-text">
								<span class="text-primary">Tiles </span> R <span class="text-primary">US</span>
								<small>e-commerce frontend theme</small>
							</span>
						</a>
					</div>
					<!-- END header-logo -->
					<!-- BEGIN header-nav -->
					<div class="header-nav">
						<div class=" collapse navbar-collapse" id="navbar-collapse">
							<ul class="nav">
								<li><a href="index.html">Home</a></li>
								<li class="dropdown dropdown-full-width dropdown-hover">
									<a href="#" data-toggle="dropdown">
										Our Store 
										<b class="caret"></b>
										<span class="arrow top"></span>
									</a>
									<!-- BEGIN dropdown-menu -->
									<div class="dropdown-menu p-0">
										<!-- BEGIN dropdown-menu-container -->
										<div class="dropdown-menu-container">
											<!-- BEGIN dropdown-menu-sidebar -->
											<div class="dropdown-menu-sidebar">
												<h4 class="title">Shop By Categories</h4>
												<ul class="dropdown-menu-list">
													<li><a href="product.html">Kakel</a></li>
													<li><a href="product.html">Kliker</a></li>
													<li><a href="product.html">Marockanskt Kakel</a></li>
													<li><a href="product.html">Mosaik</a></li>
												</ul>
											</div>
											<!-- END dropdown-menu-sidebar -->
											<!-- BEGIN dropdown-menu-content -->
											<div class="dropdown-menu-content">
												<h4 class="title">Shop By Popular Tiels</h4>
												<div class="row">
													<div class="col-lg-3">
														<ul class="dropdown-menu-list">
															<li><a href="product_detail.html"><i class="fa fa-fw fa-angle-right text-muted"></i> Klinker Calacutta White</a></li>
															<li><a href="product_detail.html"><i class="fa fa-fw fa-angle-right text-muted"></i> Klinker Oktagon White </a></li>
															<li><a href="product_detail.html"><i class="fa fa-fw fa-angle-right text-muted"></i> Klinker Jonico Day </a></li>
															<li><a href="product_detail.html"><i class="fa fa-fw fa-angle-right text-muted"></i> Klinker Jonico Poetry </a></li>
															<li><a href="product_detail.html"><i class="fa fa-fw fa-angle-right text-muted"></i> Klinker Jonico Night </a></li>
														</ul>
													</div>
                                                    <div class="col-lg-3">
														<ul class="dropdown-menu-list">
															<li><a href="product_detail.html"><i class="fa fa-fw fa-angle-right text-muted"></i> Mosaik Concrete Lappato</a></li>
															<li><a href="product_detail.html"><i class="fa fa-fw fa-angle-right text-muted"></i> Glasmosaik Garford </a></li>
															<li><a href="product_detail.html"><i class="fa fa-fw fa-angle-right text-muted"></i> Hexagon Carrara White </a></li>
															<li><a href="product_detail.html"><i class="fa fa-fw fa-angle-right text-muted"></i> Mosaik Hexagon</a></li>
															<li><a href="product_detail.html"><i class="fa fa-fw fa-angle-right text-muted"></i> Mosaik Hexagon Statuario </a></li>
														</ul>
													</div>
													<div class="col-lg-3">
														<ul class="dropdown-menu-list">
															<li><a href="product_detail.html"><i class="fa fa-fw fa-angle-right text-muted"></i> Kakel Metro Vit Blank </a></li>
															<li><a href="product_detail.html"><i class="fa fa-fw fa-angle-right text-muted"></i> Kakel Metro White </a></li>
															<li><a href="product_detail.html"><i class="fa fa-fw fa-angle-right text-muted"></i> Kakel Angelo Bianco </a></li>
															<li><a href="product_detail.html"><i class="fa fa-fw fa-angle-right text-muted"></i> Kakel Angelo Bianco Mate</a></li>
															<li><a href="product_detail.html"><i class="fa fa-fw fa-angle-right text-muted"></i> Kakel Etnia Blanco</a></li>
														</ul>
													</div>
													<div class="col-lg-3">
														<ul class="dropdown-menu-list">
															<li><a href="product_detail.html"><i class="fa fa-fw fa-angle-right text-muted"></i> Kakel Diyala</a></li>
															<li><a href="product_detail.html"><i class="fa fa-fw fa-angle-right text-muted"></i> Marockanskt Kakel Fès light</a></li>
															<li><a href="product_detail.html"><i class="fa fa-fw fa-angle-right text-muted"></i> Marockanskt Kakel Anzel </a></li>
															<li><a href="product_detail.html"><i class="fa fa-fw fa-angle-right text-muted"></i> Marockanskt Kakel Safi Grey</a></li>
															<li><a href="product_detail.html"><i class="fa fa-fw fa-angle-right text-muted"></i> Marockanskt Kakel Fès </a></li>
														</ul>
													</div>
												</div>
												<h4 class="title">Shop By Brand</h4>
												<ul class="dropdown-brand-list m-b-0">
													<li><a href="product.html"><img src="../assets/img/brand/brand-apple.png" alt="" /></a></li>
													<li><a href="product.html"><img src="../assets/img/brand/brand-samsung.png" alt="" /></a></li>
													<li><a href="product.html"><img src="../assets/img/brand/brand-htc.png" alt="" /></a></li>
													<li><a href="product.html"><img src="../assets/img/brand/brand-microsoft.png" alt="" /></a></li>
													<li><a href="product.html"><img src="../assets/img/brand/brand-nokia.png" alt="" /></a></li>
													<li><a href="product.html"><img src="../assets/img/brand/brand-blackberry.png" alt="" /></a></li>
													<li><a href="product.html"><img src="../assets/img/brand/brand-sony.png" alt="" /></a></li>
												</ul>
											</div>
											<!-- END dropdown-menu-content -->
										</div>
										<!-- END dropdown-menu-container -->
									</div>
									<!-- END dropdown-menu -->
								</li>
								<li class="dropdown dropdown-hover">
									<a href="#" data-toggle="dropdown">
										Accessories
										<b class="caret"></b>
										<span class="arrow top"></span>
									</a>
									<div class="dropdown-menu">
								<!--		<a class="dropdown-item" href="product.html">Mobile Phone</a>
										<a class="dropdown-item" href="product.html">Tablet</a>
										<a class="dropdown-item" href="product.html">TV</a>
										<a class="dropdown-item" href="product.html">Desktop</a>
										<a class="dropdown-item" href="product.html">Laptop</a>
										<a class="dropdown-item" href="product.html">Speaker</a>
										<a class="dropdown-item" href="product.html">Gadget</a> -->
									</div>
								</li>
								<li><a href="product.html">New Arrival</a></li>
								<li class="dropdown dropdown-hover">
									<a href="#" data-toggle="dropdown">
										Pages
										<b class="caret"></b>
										<span class="arrow top"></span>
									</a>
									<div class="dropdown-menu">
								<!--		<a class="dropdown-item" href="index.html">Home (Default)</a>
										<a class="dropdown-item" href="index_fixed_header.html">Home (Fixed Header)</a>
										<a class="dropdown-item" href="index_inverse_header.html">Home (Inverse Header)</a>
										<a class="dropdown-item" href="search_results.html">Search Results</a>
										<a class="dropdown-item" href="product.html">Product Page</a>
										<a class="dropdown-item" href="product_detail.html">Product Details Page</a>
										<a class="dropdown-item" href="checkout_cart.html">Checkout Cart</a>
										<a class="dropdown-item" href="checkout_info.html">Checkout Shipping</a>
										<a class="dropdown-item" href="checkout_payment.html">Checkout Payment</a>
										<a class="dropdown-item" href="checkout_complete.html">Checkout Complete</a>
										<a class="dropdown-item" href="my_account.html">My Account</a>
										<a class="dropdown-item" href="contact_us.html">Contact Us</a>
										<a class="dropdown-item" href="about_us.html">About Us</a>
										<a class="dropdown-item" href="faq.html">FAQ</a>  -->
									</div>
								</li>
								<li class="dropdown dropdown-hover">
									<a href="#" data-toggle="dropdown">
										<i class="fa fa-search search-btn"></i>
										<span class="arrow top"></span>
									</a>
									<div class="dropdown-menu p-15">
										<form action="search_results.html" method="POST" name="search_form">
											<div class="input-group">
												<input type="text" placeholder="Search" class="form-control bg-silver-lighter" />
												<div class="input-group-append">
													<button class="btn btn-inverse" type="submit"><i class="fa fa-search"></i></button>
												</div>
											</div>
										</form>
									</div>
								</li>
							</ul>
						</div>
					</div>
					<!-- END header-nav -->
					<!-- BEGIN header-nav -->
					<div class="header-nav">
						<ul class="nav pull-right">
							<li class="dropdown dropdown-hover">
								<a href="#" class="header-cart" data-toggle="dropdown">
									<i class="fa fa-shopping-bag"></i>
									<span class="total">3</span>
									<span class="arrow top"></span>
								</a>
								<div class="dropdown-menu dropdown-menu-cart p-0">
									<div class="cart-header">
										<h4 class="cart-title">Shopping Bag (3) </h4>
									</div>
									<div class="cart-body">
										<ul class="cart-item">
											<li>
												<div class="cart-item-image"><img src="{% static 'assets/img/kakel/10x30-vitt-kakel.jpg' %}" alt="" /></div>
												<div class="cart-item-info">
													<h4>Kakel Vit Blank
                                                    10X30</h4>
													<p class="price">$649.00</p>
												</div>
												<div class="cart-item-close">
													<a href="#" data-toggle="tooltip" data-title="Remove">&times;</a>
												</div>
											</li>
											<li>
												<div class="cart-item-image"><img src="{% static 'assets/img/kakel/etnia-10x20-1-600x600.jpg' %}" alt="" /></div>
												<div class="cart-item-info">
													<h4>Kakel Etnia Blanco
                                                    10X20</h4>
													<p class="price">$599.00</p>
												</div>
												<div class="cart-item-close">
													<a href="#" data-toggle="tooltip" data-title="Remove">&times;</a>
												</div>
											</li>
											<li>
												<div class="cart-item-image"><img src="{% static 'assets/img/kakel/kakel-metro-calacata-vit-10x20-5-800x800.jpg' %}" alt="" /></div>
												<div class="cart-item-info">
													<h4>Kakel Metro Calacata Vit 10X20</h4>
													<p class="price">$1099.00</p>
												</div>
												<div class="cart-item-close">
													<a href="#" data-toggle="tooltip" data-title="Remove">&times;</a>
												</div>
											</li>
										</ul>
									</div>
									<div class="cart-footer">
										<div class="row row-space-10">
											<div class="col-6">
												<a href="checkout_cart.html" class="btn btn-default btn-theme btn-block">View Cart</a>
											</div>
											<div class="col-6">
												<a href="checkout_cart.html" class="btn btn-inverse btn-theme btn-block">Checkout</a>
											</div>
										</div>
									</div>
								</div>
							</li>
							<li class="divider"></li>
							<li>
								<a href="my_account.html">
									<img src="../assets/img/user/user-1.jpg" class="user-img" alt="" /> 
									<span class="d-none d-xl-inline">Login / Register</span>
								</a>
							</li>
						</ul>
					</div>
					<!-- END header-nav -->
				</div>
				<!-- END header-container -->
			</div>
			<!-- END container -->
		</div>
		<!-- END #header -->
