{% load static %}
    <div class="product_details mt-20">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <div class="product-details-tab">

                        <div id="img-1" class="zoomWrapper single-zoom">
                            <a href="#">
                                <img id="zoom1" src="{{product.picture.url}}" data-zoom-image="{{product.picture.url}}" alt="big-1">
                            </a>
                        </div>

                        <div class="single-zoom-thumb">
                            <ul class="s-tab-zoom owl-carousel single-product-active" id="gallery_01">
                                {% for image in images %}
                                <li>
                                    <a href="#" class="elevatezoom-gallery active" data-update="" data-image="{{image.img.url}}" data-zoom-image="{{image.img.url}}">
                                        <img src="{{image.img.url}}" alt="zo-th-1" />
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6">
                    <div class="product_d_right">
                        <!--<form action="#">-->

                          <h1>{{product.name}}</h1>
			  {{product.description}}
			  <script>
			    function priceCalc(flag){
				$( document ).ready(function() {
				    var boxPrice    = {{product.priceForBox}};
				    var palletPrice = {{product.priceForPallet}};
				    var tilesPrice   = {{product.priceForNum}};
				    var priceBox = document.getElementById("priceBox");
				    var boxInput = document.getElementById("boxes");
				    var palletInput = document.getElementById("pallet");
				    var tilesInput = document.getElementById("tiles");
				    var price = boxInput.value*boxPrice + palletPrice*palletInput.value + tilesPrice*tilesInput.value;
				    priceBox.innerText = " "+ price;
				    var input = document.getElementById("total");
				    input.value = price;
				    if (flag == "btn"){
					addToCart("{{product.name}}","{{product.code}}",price,"{{product.picture.url}}",tilesInput.value,boxInput.value,palletInput.value);
				    }
				});
			    }
			  </script>
			  
                            <!-- Nav tabs -->
			    <ul class="nav nav-tabs">
			      {% if product.priceForBox %}
				  <li class="nav-item">
				    <a class="nav-link active" data-toggle="tab" href="#home">Box</a>
				  </li>
				  {% endif %}

				  {% if product.priceForPallet %}
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#menu1">Pallet</a>
				  </li>
				  {% endif %}

				  {% if product.priceForNum %}
				  <li class="nav-item">
				    <a class="nav-link" data-toggle="tab" href="#menu2">Number</a>
				  </li>
				  {% endif %}
				</ul>

				<!-- Tab panes -->
			    <div class="tab-content">
			      {% if product.priceForBox %}
				  <div class="tab-pane container active" id="home">
				    number of boxes <input id="boxes" type="number" onchange="priceCalc()" value="0"/>
				  </div>
				  {% endif %}
				  
				  {% if product.priceForPallet %}
				  <div class="tab-pane container fade" id="menu1">
				    number of pallet <input id="pallet" type="number" onchange="priceCalc()" value="0"/>
				  </div>
				  {% endif %}
				  
				  {% if product.priceForNum %}
				  <div class="tab-pane container fade" id="menu2">
				    number of tiles <input id="tiles" type="number" onchange="priceCalc()" value="0"/>
				  </div>
				  {% endif %}
				</div>

			    <div class="price_box">
                              total amount: <span id="priceBox" class="current_price">0</span>
			      <input id="total" type="hidden" value="{{product.priceForNum}}"/>
			    </div>
			    
			    <div class="product_variant quantity">
			      <button class="button" id="btn" onclick='priceCalc("btn")'>add to cart</button>
			      </div>
                        <!--</form>-->
			
                    </div>
                </div>
            </div>
        </div>
    </div>
