                <!-- BEGIN similar-product -->
				<h4 class="m-b-15 m-t-30">You Might Also Like</h4>
				<div class="row row-space-10">
					<div class="col-lg-2 col-md-4">
						<!-- BEGIN item -->
                     <!--   {{product.similar}}  -->
                   <!-- <div class="item item-thumbnail">
							<a href="product_detail.html" class="item-image">
								<img src="../assets/img/product/product-iphone.png" alt="">
								<div class="discount">15% OFF</div>
							</a>
							<div class="item-info">
								<h4 class="item-title">
									<a href="product_detail.html">iPhone 6s Plus<br>16GB</a>
								</h4>
								<p class="item-desc">3D Touch. 12MP photos. 4K video.</p>
								<div class="item-price">$649.00</div>
								<div class="item-discount-price">$739.00</div>
							</div>
						</div>-->
						<!-- END item -->
					</div>
					<div class="col-lg-2 col-md-4">
						<!-- BEGIN item -->
					<!-- 	<div class="item item-thumbnail">
							<a href="product_detail.html" class="item-image">
								<img src="../assets/img/product/product-samsung-note5.png" alt="">
								<div class="discount">32% OFF</div>
							</a>
							<div class="item-info">
								<h4 class="item-title">
									<a href="product.html">Samsung Galaxy Note 5<br>Black</a>
								</h4>
								<p class="item-desc">Super. Computer. Now in two sizes.</p>
								<div class="item-price">$599.00</div>
								<div class="item-discount-price">$799.00</div>
							</div>
						</div>-->
						<!-- END item -->
					</div>
					<div class="col-lg-2 col-md-4">
						<!-- BEGIN item -->
					<!-- 	<div class="item item-thumbnail">
							<a href="product_detail.html" class="item-image">
								<img src="../assets/img/product/product-iphone-se.png" alt="">
								<div class="discount">20% OFF</div>
							</a>
							<div class="item-info">
								<h4 class="item-title">
									<a href="product.html">iPhone SE<br>32/64Gb</a>
								</h4>
								<p class="item-desc">A big step for small.</p>
								<div class="item-price">$499.00</div>
								<div class="item-discount-price">$599.00</div>
							</div>
						</div>-->
						<!-- END item -->
					</div>
					<div class="col-lg-2 col-md-4">
						<!-- BEGIN item -->
					<!-- 	<div class="item item-thumbnail">
							<a href="product_detail.html" class="item-image">
								<img src="../assets/img/product/product-zenfone2.png" alt="">
								<div class="discount">15% OFF</div>
							</a>
							<div class="item-info">
								<h4 class="item-title">
									<a href="product_detail.html">Assus ZenFone 2<br>‏(ZE550ML)</a>
								</h4>
								<p class="item-desc">See What Others Can’t See</p>
								<div class="item-price">$399.00</div>
								<div class="item-discount-price">$453.00</div>
							</div>
						</div>-->
						<!-- END item -->
					</div>
					<div class="col-lg-2 col-md-4">
						<!-- BEGIN item -->
					<!-- 	<div class="item item-thumbnail">
							<a href="product_detail.html" class="item-image">
								<img src="../assets/img/product/product-xperia-z.png" alt="">
								<div class="discount">32% OFF</div>
							</a>
							<div class="item-info">
								<h4 class="item-title">
									<a href="product.html">Sony Xperia Z<br>Black Color</a>
								</h4>
								<p class="item-desc">For unexpectedly beautiful moments</p>
								<div class="item-price">$599.00</div>
								<div class="item-discount-price">$799.00</div>
							</div>
						</div>-->
						<!-- END item -->
					</div>
					<div class="col-lg-2 col-md-4">
						<!-- BEGIN item -->
					<!-- 	<div class="item item-thumbnail">
							<a href="product_detail.html" class="item-image">
								<img src="../assets/img/product/product-lumia-532.png" alt="">
								<div class="discount">20% OFF</div>
							</a>
							<div class="item-info">
								<h4 class="item-title">
									<a href="product.html">Microsoft Lumia 531<br>Smartphone Orange</a>
								</h4>
								<p class="item-desc">1 Year Local Manufacturer Warranty</p>
								<div class="item-price">$99.00</div>
								<div class="item-discount-price">$199.00</div>
							</div>
						</div>-->
						<!-- END item -->
					</div>
				</div>
                <!-- END similar-product -->
