{% load static %}
<!-- BEGIN #table-list -->
		<div id="mobile-list" class="section-container p-t-0">
			<!-- BEGIN container -->
			<div class="container">
				<!-- BEGIN section-title -->
				<h4 class="section-title clearfix">
					<a href="#" class="pull-right">SHOW ALL</a>
					Kakel
					<small>Shop and get your favourite tiels at amazing prices!</small>
				</h4>
				<!-- END section-title -->
				<!-- BEGIN category-container -->
				<div class="category-container">
					<!-- BEGIN category-sidebar -->
					<div class="category-sidebar">
						<ul class="category-list">
							<li class="list-header">Top Categories</li>
							<li><a href="#">Badrum Kakel</a></li>
							<li><a href="#">Metro Kakel</a></li>
							<li><a href="#">Enfargat Kakel</a></li>
							<li><a href="#">Strukturerat Kakel</a></li>
							<li><a href="#">Monstrat Kakel</a></li>
							<li><a href="#">Marmor Kakel</a></li>
							<li><a href="#">Handgjort Kakel</a></li>
							<li><a href="#">Kakellist</a></li>
							<li><a href="#">Rustikt Kakel</a></li>
							<li><a href="#">Gammaldags Kakel</a></li>
							<li><a href="#">Dekorsten</a></li>
							<li><a href="#">All Categories</a></li>
						</ul>
					</div>
					<!-- END category-sidebar -->
					<!-- BEGIN category-detail -->
					<div class="category-detail">
						<!-- BEGIN category-item -->
						<a href="#" class="category-item full">
							<div class="item">
								<div class="item-cover">
									<img src="{% static 'assets/img/kakel/Kakel-First.jpg' %}" alt="" />
								</div>
								<div class="item-info bottom">
									<h4 class="item-title">Kakel Metro Vit Blank 7,5X15</h4>
									<p class="item-desc">Nöjdhetsgaranti Prisgaranti<br />I Lager: Skickas inom 1-2 arbetsdagar</p>
									<div class="item-price">$799.00</div>
								</div>
							</div>
						</a>
						<!-- END category-item -->
						<!-- BEGIN category-item -->
						<div class="category-item list">
							<!-- BEGIN item-row -->
							<div class="item-row">
								<!-- BEGIN item -->
								<div class="item item-thumbnail">
									<a href="productDetail/?code=001" class="item-image">
										<img src="{% static 'assets/img/kakel/10x30-vitt-kakel.jpg' %}" alt="" />
										<div class="discount">15% OFF</div>
									</a>
									<div class="item-info">
										<h4 class="item-title">
											<a href="productDetail/?code=001">Kakel Vit Blank<br />10X30</a>
										</h4>
									<!--	<p class="item-desc">3D Touch. 12MP photos. 4K video.</p> -->
										<div class="item-price">$649.00</div>
										<div class="item-discount-price">$739.00</div>
									</div>
								</div>
								<!-- END item -->
								<!-- BEGIN item -->
								<div class="item item-thumbnail">
									<a href="productDetail/?code=002" class="item-image">
										<img src="{% static 'assets/img/kakel/etnia-10x20-1-600x600.jpg' %}" alt="" />
										<div class="discount">32% OFF</div>
									</a>
									<div class="item-info">
										<h4 class="item-title">
											<a href="productDetail/?code=002">Kakel Etnia Blanco<br />10X20</a>
										</h4>
									<!--	<p class="item-desc">Super. Computer. Now in two sizes.</p> -->
										<div class="item-price">$599.00</div>
										<div class="item-discount-price">$799.00</div>
									</div>
								</div>
								<!-- END item -->
								<!-- BEGIN item -->
								<div class="item item-thumbnail">
									<a href="productDetail/?code=003" class="item-image">
										<img src="{% static 'assets/img/kakel/kakel-metro-calacata-vit-10x20-5-800x800.jpg' %}" alt="" />
										<div class="discount">15% OFF</div>
									</a>
									<div class="item-info">
										<h4 class="item-title">
											<a href="productDetail/?code=003">Kakel Metro Calacata Vit 10X20</a>
										</h4>
									<!--	<p class="item-desc">A big step for small.</p> -->
										<div class="item-price">$499.00</div>
										<div class="item-discount-price">$599.00</div>
									</div>
								</div>
								<!-- END item -->
							</div>
							<!-- END item-row -->
							<!-- BEGIN item-row -->
							<div class="item-row">
								<!-- BEGIN item -->
								<div class="item item-thumbnail">
									<a href="product_detail.html" class="item-image">
										<img src="{% static 'assets/img/kakel/kakel-plan-calacata-10x20-600x600.jpg' %}" alt="" />
										<div class="discount">15% OFF</div>
									</a>
									<div class="item-info">
										<h4 class="item-title">
											<a href="product_detail.html">Kakel Carrara Liso<br />‏10X20</a>
										</h4>
									<!--	<p class="item-desc">See What Others Can’t See</p> -->
										<div class="item-price">$399.00</div>
										<div class="item-discount-price">$453.00</div>
									</div>
								</div>
								<!-- END item -->
								<!-- BEGIN item -->
								<div class="item item-thumbnail">
									<a href="product_detail.html" class="item-image">
										<img src="{% static 'assets/img/kakel/kakel-statuario-30x60-10-600x600.jpg' %}" alt="" />
										<div class="discount">32% OFF</div>
									</a>
									<div class="item-info">
										<h4 class="item-title">
											<a href="product.html">Kakel Statuario<br />30X60</a>
										</h4>
									<!--	<p class="item-desc">For unexpectedly beautiful moments</p> -->
										<div class="item-price">$599.00</div>
										<div class="item-discount-price">$799.00</div>
									</div>
								</div>
								<!-- END item -->
								<!-- BEGIN item -->
								<div class="item item-thumbnail">
									<a href="product_detail.html" class="item-image">
										<img src="{% static 'assets/img/kakel/kakel-vit-25x40-1-800x800.jpg' %}" alt="" />
										<div class="discount">20% OFF</div>
									</a>
									<div class="item-info">
										<h4 class="item-title">
											<a href="product.html">Kakel Vit Blank<br />7,5X15</a>
										</h4>
									<!--	<p class="item-desc">1 Year Local Manufacturer Warranty</p> -->
										<div class="item-price">$99.00</div>
										<div class="item-discount-price">$199.00</div>
									</div>
								</div>
								<!-- END item -->
							</div>
							<!-- END item-row -->
						</div>
						<!-- END category-item -->
					</div>
					<!-- END category-detail -->
				</div>
				<!-- END category-container -->
			</div>
			<!-- END container -->
		</div>
		<!-- END #table-list -->
